# This is the configuration script for the linker.

MEMORY
{
   # This section contains the actual program file.
   CODE:
      start $07FF
      size  $8000
      type  ro
      file  "tennis.prg";

   # This section contains variables that are uninitialized at start.
   BSS:
      start $0400
      size  $0400
      type  rw
      file  "";
}

SEGMENTS
{
   CODE:
      load  CODE
      type  ro;

   BSS:
      load  BSS
      type  rw;
}

